*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
body{
  padding:100px;
}
.contents{
  /* border:1px solid red; */
  display:grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-template-rows: repeat(2,1fr); */
  gap:20px;
}
.card{
  /* border:1px solid black; */
  /* width:500px; */
  /* margin:20px; */
  position: relative;
  padding:20px;
  border-radius: 9px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0,0.3);
}
.quotation-img{
  position: absolute;
  top: 0px;
  width:100px;
  z-index:888px;
  right: 40px;
}
.card:nth-child(1) .card-title{
    position: relative;
  z-index: 999px;
}
.profile-des img{
  border-radius: 50%;
  height: 40px;
}
.profile-des{
  display: flex;
  align-items: center;
}
.profile-des h5{
  margin-left: 10px;
}
.profile-des p{
  margin-left: 10px;
}
.card .card-title{
  padding-top: 10px;
}
.card .card-text{
 padding-top: 10px; 
 line-height: 1.5;
}
.card p{
  font-size: 14px;
}

.card:nth-child(1){
  grid-column: 1/3;
  background-color:  hsl(263, 55%, 52%);
  color: white;
    /* position: relative;
  z-index: 999px; */
}
.card:nth-child(2){
  background-color:  hsl(217, 19%, 35%);
  color: white;
}
.card:nth-child(4){
  grid-column: 2/4;
  background-color: hsl(219, 29%, 14%);
  color: white;
}
/* .card:nth-child(3){
  grid-column: 1/2;
} */
.card:nth-child(5){
  grid-column: 4;
  grid-row: 1/3;
}
@media (max-width: 768px) {
  .contents{
    grid-template-columns: 1fr;
  }
  body{
    padding:20px;
  }
  .card:nth-child(1),
  .card:nth-child(4),
  .card:nth-child(5){
    grid-column: auto ;
    grid-row: auto ;
  }

}